<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Orders - Lengow</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </head>

    <body>
      <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Lengow Test</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/admin">Admin</a></li>
            </ul>
          </div>
        </nav>


        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center orange-text">Welcome</h1>
              <div class="row center">
                <h5 class="header col s12 light">This is a test with Django to manipulate some orders</h5>
              </div>
              <div class="row center">
                <a href="list"  class="btn-large waves-effect waves-light orange">List of Orders</a>
                <a href="addOrders"  class="btn-large waves-effect waves-light orange">Manage Order</a>
              </div>
              <br><br>

            </div>
          </div>
    </body>
</html>
